{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          A student at Medi-Caps University Indore. Pursuing B.Tech is IT Branch specialization in
          AI. I like to code and drink coffee first thing in the morning.
        </p>
        <p>
          This is my first blog website next time I am sure to add more features in it like the forgot password button
          Ok now BYE!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
